* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.spotify-card {
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logo-spotify {
  width: 50px;
}

.grid-column-song {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}

.btn-search {
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .btn-select {
    width: 100%;
  }

  .logo-spotify {
    width: 10%;
  }

  .grid-column-song {
    display: grid;
    grid-template-columns: auto;
  }
}
